<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{#{% if messages %}#}
{#    <div>#}
{#        {% for message in messages %}#}
{#            <div {%  if message.tags %} class="{{ message.tag }}" {% endif %}>#}
{#                {{ message.tags }}-{{ message }}#}
{#            </div>#}
{#        {% endfor%}#}
{#    </div>#}
{#{% endif %}#}



{#{% url 'store2:DeleteData' DeleteData.id %}#}
{#{% for DeleteOutput in DeleteOut %}#}
{#        {{ DeleteOutput}} <br>#}
{##}
{#{% endfor %}#}
{#<form method="post" action="{% url 'store2:Delete' DeleteOut.id%}">#}
{##}
{#</form>#}

{#    {% csrf_token %}#}
{#        <a href="{% url 'store2:DeleteData' DeleteOutput.id %}">#}
{#            <input type="submit" value="刪除">#}
{#        </a>#}


</body>
</html>